/* *** Header *** */

header {
  background: url(./img/bgphotshop.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.text-intro {
  padding-top: 300px;
  padding-bottom: 200px;
}

.preTxt {
  font-size: 70px;
  margin: 0;
  color: #2f2d2d;
  line-height: 0.5;
}

h1 {
  font-size: 150px;
  color: #2f2d2d;
  font-family: 'Kaushan Script', cursive;
  font-weight: 700;
}

/* *** Navigation *** */

.navbar-brand {
  font-size: 45px !important;
  font-family: 'Kaushan Script' !important;
}

.navbar a {
  color: #fff !important;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 600;
}

/* *** About section *** */

#about {
  margin-top: 75px;
  padding-bottom: 75px;
  border-bottom: 1px dashed #2f2d2d;
}

/* *** Icons section *** */

#icons {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* *** First Banner *** */

#ban1 {
  position: relative;
  background: url('./img/banniere1.png');
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

/* *** Gallery section *** */

#gallery {
  padding-bottom: 100px;
}

.h2Photos {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Kaushan Script';
  font-size: 70px;
}

#gallery .container {
  display: flex;
  width: 90vw;
}

#gallery p {
  padding-bottom: 50px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.4s ease-in;
}

.panel.active {
  flex: 5;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* *** Second Banner *** */

#ban2 {
  position: relative;
  background: url('./img/Banniere2.png');
  background-attachment: fixed; /* Parallax Effect */
  background-repeat: no-repeat;
  text-align: center;
}

#carouselContent {
  margin-top: 70px;
  font-size: 35px;
  color: black;
  font-weight: 400;
}

/* *** Progress section *** */

#progress {
  border-top: 1px dashed black;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* *** Cards Section *** */

.offerH {
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: 'Kaushan Script';
}

#prices-cards {
  padding: 50px 0 100px 0;
}

.price-card {
  width: 300px;
  height: 520px;
  margin: 30px auto;
  position: relative;
  transition: 0.2s ease-in;
  box-shadow: 0px 10px 30px black;
}

.price-card:hover {
  transform: scale(1.1);
}

.price-card-header {
  height: 200px;
  width: 300px;
  position: relative;
  background: rgba(216, 216, 216, 0.5);
}

.price-card-header h2 {
  margin: 0;
  position: relative;
  top: 130px;
  text-align: center;
  font-family: 'Lato';
  font-size: 15px;
}

.spanPrice {
  font-size: 40px;
}

.type {
  height: 120px;
  width: 300px;
  background: rgba(2, 2, 2, 0.5);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: absolute;
  top: 0;
}

.type h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Kaushan Script';
  font-size: 30px;
  position: relative;
  top: 30px;
}

.details {
  background: white;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Lato';
  transition: all 0.2s ease-in;
}

.details:hover {
  background: rgba(181, 208, 230, 0.1);
}

#btn {
  background: white;
  height: 80px;
}

#btn a {
  text-decoration: none;
  font-family: 'Lato';
  height: 50px;
  width: 120px;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: 10px;
  border-radius: 30px;
  border: 1px solid #22a7f0;
  transition: all 0.2s ease-in;
}

#btn a:hover {
  background: rgba(6, 136, 206, 0.8);
  color: white;
}

/* Clients section */

#clients {
  border-top: 1px dashed black;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* *** section *** */
