/* *** Header *** */

header {
  background: url(./img/bgphotshop.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.text-intro {
  padding-top: 300px;
  padding-bottom: 200px;
}

.preTxt {
  font-size: 70px;
  margin: 0;
  color: #2f2d2d;
  line-height: 0.5;
}

h1 {
  font-size: 150px;
  color: #2f2d2d;
  font-family: 'Kaushan Script', cursive;
  font-weight: 700;
}

/* *** Navigation *** */

.navbar-brand {
  font-size: 45px !important;
  font-family: 'Kaushan Script' !important;
}

.navbar a {
  color: #fff !important;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 600;
}

/* *** About section *** */

#about {
  margin-top: 75px;
  padding-bottom: 75px;
  border-bottom: 1px dashed #2f2d2d;
}

/* *** Icons section *** */

#icons {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* *** First Banner *** */

#ban1 {
  position: relative;
  background: url('./img/banniere1.png');
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

/* *** Gallery section *** */

#gallery {
  padding-bottom: 100px;
}

.h2Photos {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Kaushan Script';
  font-size: 70px;
}

#gallery .container {
  display: flex;
  width: 90vw;
}

#gallery p {
  padding-bottom: 50px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.4s ease-in;
}

.panel.active {
  flex: 5;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* *** section *** */

/* *** section *** */
